.cell {
  width: var(--cell-size);
  height: var(--cell-size);
  padding: 1px;
  display: flex;

  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &.topGutter {
    margin-top: var(--grid-gutter);
  }

  &.rightGutter {
    margin-left: var(--grid-gutter);
  }

  & .inner {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
    background: var(--cell-bg);
    color: var(--cell-fg);
    transition: all 0.25s ease-in, transform 0.2s ease-in;
    border-radius: var(--cell-radius);
    position: relative;

    &.hasValue {
      justify-content: center;
      font-size: var(--cell-value-size);
    }

    &.preset {
      background-color: var(--cell-bg-preset);
      color: var(--cell-fg-preset);
    }

    &.solved {
      justify-content: center;
    }

    &.active {
      background-color: var(--cell-active-bg);
      color: var(--cell-active-fg);
      transform: scale(1.5);
      z-index: 10;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    &.connectedColumn {
      background-color: var(--cell-column-off);
      &.active {
        background-color: var(--cell-column);
        & .solveIcon.column {
          background-color: var(--cell-column-off);
        }
      }
      color: #ffffff50;
    }

    &.connectedRow {
      background-color: var(--cell-row-off);
      &.active {
        background-color: var(--cell-row);
        & .solveIcon.row {
          background-color: var(--cell-row-off);
        }
      }
      // color: var(--cell-row);
      color: #ffffff50;
    }

    &.connectedBlock {
      background-color: var(--cell-block-off);
      &.active {
        background-color: var(--cell-block);
        & .solveIcon.block {
          background-color: var(--cell-block-off);
        }
      }
      // color: var(--cell-block);
      color: #ffffff50;
    }

    &.singleSolve.active {
      background-color: var(--cell-single);
      & .solveIcon.single {
        background-color: var(--cell-single-off);
      }
    }

    &.active {
      transform: scale(3);
      z-index: 10;

      @media only screen and (min-width: 768px) {
        transform: scale(1.6);
      }

      .solveIconWrapper {
        border-bottom: 1px solid #00000030;
      }
    }

    & .barred {
      position: absolute;
      transition: opacity 0.25s ease-in, transform 0.25s ease-in;
      background: #00000090;
      color: #000000cc;
      font-size: calc(var(--cell-value-size));
      font-weight: 800;
      height: 0;
      width: 100%;
      border-radius: var(--cell-radius);
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0;
    }

    & .barredOn {
      opacity: 1;
      height: 100%;
    }

    &.connectedRow,
    &.connectedColumn,
    &.connectedBlock {
      & .barred {
        background: #00000050;
      }
    }

    &.focusedValue {
      background-color: #6a1606;
      // color: rgb(150, 41, 11);
      color: #ffffffc7;
      .barred {
        display: none;
      }
    }

    // when highlighting cells which are solveable
    &.solveableAll {
      background: var(--cell-all-off);
    }

    &.solveableBlock {
      background: var(--cell-block-off);
    }

    &.solveableColumn {
      background: var(--cell-column-off);
    }

    &.solveableRow {
      background: var(--cell-row-off);
    }

    &.solveableSingle {
      background: var(--cell-single-off);
    }

    .solveIconWrapper {
      border-radius: var(--cell-radius) var(--cell-radius) 0 0;
      height: calc(var(--cell-size) * 0.15);
      overflow: hidden;
      width: 100%;
      display: flex;
      justify-content: center;
    }

    &.completeAnimate {
      animation: 0.75s completed infinite forwards;
    }
  }

  .solveIcon {
    height: calc(var(--cell-size) * 0.15);
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    &.any {
      background: var(--cell-all);
    }

    &.block {
      background: var(--cell-block);
    }

    &.column {
      background: var(--cell-column);
    }

    &.row {
      background: var(--cell-row);
    }

    &.single {
      background: var(--cell-single);
    }
  }

  .candidates {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-end;
    height: 100%;
    padding: calc(var(--cell-size) / 16);
    padding-left: calc(var(--cell-size) / 32 + 0.5px);
    padding-right: calc(var(--cell-size) / 32 - 1px);
    @media only screen and (min-width: 768px) {
      padding: calc(var(--cell-size) / 16);
      padding-left: calc(var(--cell-size) / 16 + 0.5px);
      padding-right: calc(var(--cell-size) / 16 - 1px);
    }
  }

  .hoverable {
    &:hover {
      background: #ffffff10;
      cursor: pointer;
    }
  }
}

.inSelector {
  width: var(--selector-cell-size);
  height: var(--selector-cell-size);

  &.topGutter {
    margin-top: var(--selector-grid-gutter);
  }

  &.rightGutter {
    margin-left: var(--selector-grid-gutter);
  }

  & .inner {
    border-radius: var(--selector-cell-radius);
    &.hasValue {
      font-size: calc(var(--cell-value-size) / 3);
    }
  }
}

@keyframes completed {
  5% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.75);
  }
  95% {
    transform: scale(1);
    color: rgb(98, 255, 0);
  }
  100% {
    transform: scale(1);
  }
}
