.candidate {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc((var(--cell-size) - 3px - 2px - var(--cell-size) / 16) / 3);
  height: calc((var(--cell-size) - 3px - 2px - var(--cell-size) / 4) / 3);
  margin: 1px 1px 0 0;
  font-size: 4px;
  transition: background 0.25s ease-in, transform 0.25s ease-in;
  border-radius: 2px;

  color: rgba(255, 255, 255, 0.4);

  @media only screen and (min-width: 768px) {
    font-size: 12px;
    line-height: 12px;
    width: calc((var(--cell-size) - 3px - 2px - var(--cell-size) / 8) / 3);
    height: calc((var(--cell-size) - 3px - 2px - var(--cell-size) / 4) / 3);
  }
}

.notRejected {
  background: rgba(0, 0, 0, 0.15);
}

.hoverable {
  &:hover {
    cursor: pointer;
    background: #333;
    color: white;
  }
}

.solveable {
  background: #333;
  color: var(--cell-all);
}

.animateSolve {
  transform: scale(2);
}
