@import url('https://fonts.googleapis.com/css2?family=Freeman&family=Tenor+Sans&display=swap');

body {
  font-family: 'Tenor Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1em;
}

:root {
  // sizes
  --pixel-size: 5px;
  --grid-size: 300px;
  --cell-value-size: 20px;

  // colours
  --theme-01: #111;
  --theme-02: #222;
  --theme-03: #333;
  --theme-04: #444;
  --theme-05: #999;
  --theme-06: #bbb;
  --theme-07: #ccc;
  --theme-08: #ddd;
  --theme-09: #eee;

  --theme-09: #bfb9ad;
  --theme-08: #9f998d;
  --theme-07: #8f897d;
  --theme-06: #7e786c;
  --theme-05: #5d574b;
  --theme-04: #4d473b;
  --theme-03: #453f33;
  --theme-02: #413b2f;
  --theme-01: #3c362a;

  --main-bg: #1c1715; // body
  --main-fg: #61612e;
  --bold-bg: #222; // header / footer

  --accent1-on: #bfc81d;
  --accent2-on: #c84b1d;
  --accent3-on: #b4711a;

  --accent1-off: #bfc81d6d;
  --accent2-off: #c84b1d6d;
  --accent3-off: #c84b1d6d;

  // grid colours
  --grid-bg: #00000015;

  --cell-bg: #00000025;
  --cell-bg-preset: #00000055;

  --cell-fg: #c7c7be;
  --cell-fg-preset: #979292;

  // --cell-bg-preset: #ffffff1a;

  --cell-active-bg: #1d1c1c27;
  --cell-active-fg: #ffe5ca;

  --cell-all: #60b81c;
  --cell-block: #c84b1d;
  --cell-column: #b4711a;
  --cell-row: #bfc81d;
  --cell-single: #1db7c8;

  --cell-all-off: #67c81d6d;
  --cell-block-off: #c84b1d6d;
  --cell-column-off: #c87e1d6d;
  --cell-row-off: #bfc81d6d;
  --cell-single-off: #1db7c86d;

  --cell-barred-bg: #020101;
  --cell-barred-fg: #1b1b1b;
}

/* Medium devices (tablets, 640px and up) */
@media only screen and (min-width: 640px) {
  :root {
    --pixel-size: 10px;
    --grid-size: 540px;
    --cell-value-size: 40px;
  }
}

/* Large devices (desktops, 1024px and up) */
@media only screen and (min-width: 1024px) {
  :root {
    --pixel-size: 15px;
    --grid-size: 640px;
    --cell-value-size: 30px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
// @media only screen and (min-width: 1200px) {
//   :root {
//     // --main-bg: rgb(138, 51, 16);
//     --grid-size: 720px;
//   }
// }

/* XXLarge devices (larger desktops, 1440px and up) */
@media only screen and (min-width: 1440px) {
  :root {
    // --main-bg: #dd5620;
    --grid-size: 750px;
  }
}

:root {
  --grid-unit: calc(var(--grid-size) / 100);
  --grid-padding: calc(var(--grid-unit) * 2);
  --grid-gutter: calc(var(--grid-unit) * 1.5);
  --cell-size: calc(
    (
        var(--grid-size) - calc(var(--grid-padding) * 2) -
          calc(var(--grid-gutter) * 2)
      ) / 9
  );
  --cell-radius: calc(var(--grid-size) / 100);

  --selector-grid-size: calc(
    (
        var(--grid-size) - calc(var(--grid-padding) * 2) -
          calc(var(--grid-gutter) * 2)
      ) / 3
  );
  --selector-grid-unit: calc(var(--selector-grid-size) / 100);
  --selector-grid-padding: calc(var(--selector-grid-unit) * 2);
  --selector-grid-gutter: calc(var(--selector-grid-unit) * 0.75);
  --selector-cell-size: calc(
    (
        var(--selector-grid-size) - calc(var(--selector-grid-padding) * 2) -
          calc(var(--selector-grid-gutter) * 2)
      ) / 9
  );
  --selector-cell-radius: calc(var(--selector-grid-size) / 100);
}

[data-theme='dark'] {
  --main-bg: #e1d9d6;
  --main-fg: #e0e0b6;
  --bold-bg: #ddd;
  --grid-bg: #ffffff05;
  --theme-09: #111;
  --theme-08: #222;
  --theme-07: #333;
  --theme-06: #444;
  --theme-05: #999;
  --theme-04: #bbb;
  --theme-03: #ccc;
  --theme-02: #ddd;
  --theme-01: #eee;

  --theme-09: #27221a;
  --theme-08: #4d4333;
  --theme-07: #554b3b;
  --theme-06: #6b6353;
  --theme-05: #888273;
  --theme-04: #a6a293;
  --theme-03: #b5b2a3;
  --theme-02: #bcbaab;
  --theme-01: #c3c1b3;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--main-fg);
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.grid-container {
  background: rgb(27, 31, 51);
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.selector {
  width: var(--grid-size);
  height: var(--grid-size);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  padding: var(--grid-padding);
  border-radius: var(--grid-padding);

  &-block {
    width: var(--selector-grid-size);
    height: var(--selector-grid-size);
    margin-right: var(--grid-gutter);
    margin-bottom: var(--grid-gutter);

    &.block-2,
    &.block-5,
    &.block-8 {
      margin-right: 0;
    }

    &.block-6,
    &.block-7,
    &.block-8 {
      margin-bottom: 0;
    }
  }
}

.extra-container {
  flex: 1;
}

@keyframes pulse {
  5% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.75);
    // color: white;
  }
  12% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes pulseBig {
  5% {
    transform: scale(1);
  }
  10% {
    transform: scale(1.5);
    // color: white;
  }
  12% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
