@import url('https://fonts.googleapis.com/css2?family=Freeman&family=Tenor+Sans&display=swap');

body {
  font-family: 'Tenor Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
}

:root {
  --main-fg: rgb(255, 255, 255);
  --main-bg: rgb(28, 28, 28);
  /* --background-rgb: 80, 0, 0; */

  --grid-size: 360px;
  --cell-value-size: 40px;

  --grid-bg: rgb(255, 255, 255, 0.05);
  --cell-bg: rgb(255, 255, 255, 0.05);
  --cell-fg: rgb(181, 108, 39);
  --cell-preset-bg: rgb(255, 255, 255, 0.1);
  --cell-preset-fg: rgb(144, 144, 144);
  --cell-active-bg: rgb(228, 129, 30);
  --cell-active-fg: rgb(255, 229, 202);

  --cell-solve-scan-bg: rgba(10, 125, 33, 0.595);
  --cell-solve-scan-fg: rgb(101, 254, 96);

  --cell-solve-single-bg: rgba(104, 107, 188, 0.395);
  --cell-solve-single-fg: rgb(51, 137, 203);

  --cell-connected-block-bg: rgb(228, 129, 30, 0.1);
  --cell-connected-block-fg: rgb(255, 229, 202, 0.2);
  --cell-connected-bg: rgb(228, 129, 30, 0.1);
  --cell-connected-fg: rgb(255, 229, 202, 0.2);
  --cell-lit-bg: rgba(0, 96, 96, 0.2);
  --cell-lit-fg: rgba(0, 96, 96, 1);
  --cell-lit-preset-bg: rgb(0, 96, 96, 0.5);
  --cell-lit-preset-fg: rgba(92, 232, 232);
}

/* Medium devices (tablets, 640px and up) */
@media only screen and (min-width: 640px) {
  :root {
    --grid-size: 540px;
  }
}

/* Large devices (desktops, 1024px and up) */
@media only screen and (min-width: 1024px) {
  :root {
    --grid-size: 630px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  :root {
    --grid-size: 720px;
  }
}

/* XXLarge devices (larger desktops, 1440px and up) */
@media only screen and (min-width: 1440px) {
  :root {
    --grid-size: 810px;
  }
}

:root {
  --grid-unit: calc(var(--grid-size) / 100);
  --grid-padding: calc(var(--grid-unit) * 2);
  --grid-gutter: calc(var(--grid-unit) * 1.5);
  --cell-size: calc(
    (
        var(--grid-size) - calc(var(--grid-padding) * 2) -
          calc(var(--grid-gutter) * 2)
      ) / 9
  );
  --cell-radius: calc(var(--grid-size) / 100);

  --selector-grid-size: calc(
    (
        var(--grid-size) - calc(var(--grid-padding) * 2) -
          calc(var(--grid-gutter) * 2)
      ) / 3
  );
  --selector-grid-unit: calc(var(--selector-grid-size) / 100);
  --selector-grid-padding: calc(var(--selector-grid-unit) * 2);
  --selector-grid-gutter: calc(var(--selector-grid-unit) * 0.75);
  --selector-cell-size: calc(
    (
        var(--selector-grid-size) - calc(var(--selector-grid-padding) * 2) -
          calc(var(--selector-grid-gutter) * 2)
      ) / 9
  );
  --selector-cell-radius: calc(var(--selector-grid-size) / 100);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  height: 100%;
}

body {
  color: var(--main-fg);
  background: var(--main-bg);
}

.main {
  display: flex;
  height: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}

.grid-container {
  background: rgb(27, 31, 51);
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

// .grid {
//   background-color: var(--grid-bg);
//   width: var(--grid-size);
//   height: var(--grid-size);
//   display: flex;
//   flex-direction: row;
//   flex-wrap: wrap;
//   padding: var(--grid-padding);
//   border-radius: var(--grid-padding);
// }

.cell {
  // width: var(--cell-size);
  // height: var(--cell-size);
  // padding: 1px;
  // display: flex;

  // &.row-3,
  // &.row-6 {
  //   margin-top: var(--grid-gutter);
  // }

  // &.col-3,
  // &.col-6 {
  //   margin-left: var(--grid-gutter);
  // }

  &__inner {
    // display: flex;
    // flex: 1;
    // height: 100%;
    // justify-content: center;
    // align-items: center;
    // background: var(--cell-bg);
    // transition: background 0.25s ease-in;
    // border-radius: var(--cell-radius);

    &.lit {
      background-color: var(--cell-lit-bg);
      color: var(--cell-lit-fg);

      &.preset {
        background-color: var(--cell-lit-preset-bg);
        color: var(--cell-lit-preset-fg);
      }
    }

    // &.active {
    //   background-color: var(--cell-active-bg);
    // }

    &.focus {
      background-color: yellow;
    }

    &.preset {
      background-color: var(--cell-preset-bg);
      color: var(--cell-preset-fg);
    }

    // &.can-activate {
    //   cursor: pointer;
    // }
  }

  // &__value,
  // &__solveable {
  //   font-size: var(--cell-value-size);
  //   -webkit-user-select: none;
  //   -ms-user-select: none;
  //   user-select: none;
  // }

  &__solveable {
    // background-color: rgb(31, 86, 31);
    // color: rgb(178, 224, 178);
    // width: 80%;
    // height: 80%;
    // border-radius: 25%;
    // display: flex;
    // justify-content: center;
    // align-items: center;
  }
}

// .grid-controls {
//   width: var(--grid-size);
//   margin-top: 10px;
//   height: 100px;
// }

// .value-selector {
// height: 100%;
// display: flex;
// flex-direction: column;
// align-items: stretch;
// flex: 1;

// &__row {
// display: flex;
// flex: 1;
// flex-direction: row;
// flex-wrap: wrap;
// }

// &__value {
//   flex: 1;
//   background: #333;
//   margin: 2px;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   border-radius: 5px;

//   &.available {
//     background-color: var(--cell-active-bg);
//     color: var(--cell-active-fg);
//     &:hover {
//       cursor: pointer;
//     }
//   }

//   &.taken {
//     background-color: var(--cell-lit-preset-bg);
//     color: var(--cell-lit-preset-fg);
//   }
// }
// }

// .candidate {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   width: calc(((var(--cell-size) - 8px) / 3));
//   height: calc(((var(--cell-size) - 8px) / 3));
//   font-size: 12px;
//   background: rgba(255, 255, 255, 0.1);
//   color: rgba(yellow, 0.25);
//   margin: 1px;
// }

.selector {
  background-color: var(--grid-bg);
  width: var(--grid-size);
  height: var(--grid-size);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  padding: var(--grid-padding);
  border-radius: var(--grid-padding);

  &-block {
    width: var(--selector-grid-size);
    height: var(--selector-grid-size);
    margin-right: var(--grid-gutter);
    margin-bottom: var(--grid-gutter);

    &.block-2,
    &.block-5,
    &.block-8 {
      margin-right: 0;
    }

    &.block-6,
    &.block-7,
    &.block-8 {
      margin-bottom: 0;
    }
  }

  // .grid {
  //   width: var(--selector-grid-size);
  //   height: var(--selector-grid-size);
  //   padding: var(--selector-grid-padding);
  //   border-radius: var(--selector-grid-padding);
  //   transition: background 0.25s ease-in;
  //   &:hover {
  //     background: rgba(80, 0, 0, 0.6);
  //     cursor: pointer;
  //   }
  // }

  .cell {
    // width: var(--selector-cell-size);
    // height: var(--selector-cell-size);

    // &.row-3,
    // &.row-6 {
    //   margin-top: var(--selector-grid-gutter);
    // }

    // &.col-3,
    // &.col-6 {
    //   margin-left: var(--selector-grid-gutter);
    // }

    // &__inner {
    //   border-radius: var(--selector-cell-radius);
    // }

    &__value {
      font-size: calc(var(--cell-value-size) / 3);
    }
  }
}

.extra-container {
  flex: 1;
}
