.header {
  color: rgb(140, 140, 138);
  text-shadow: 0 5px 10px #111;
  font-size: 50px;
}

.levels {
  margin: 0;
  padding: 0;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 100px;

  div {
    padding: 0;
    margin: 10px 0;
  }

  a {
    background: #333;
    color: #666;
    display: flex;
    // height: 100px;
    padding: 30px;
    text-decoration: none;
    border-radius: 10px;
    justify-content: center;
    font-size: 30px;
    text-transform: uppercase;
    box-shadow: 0 10px 10px #111;
    position: relative;
    overflow: hidden;

    div {
      position: absolute;
      font-size: 65px;
      line-height: 65px;
      left: 0;
      top: 50%;
      margin-top: -32px;
      width: 100%;
      text-align: center;
      color: #333;

      color: transparent;
      text-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
    }

    span {
      z-index: 10;
    }

    &:before,
    &:after {
      content: ' ';
      background: linear-gradient(0deg, #333, #444);
      width: 50%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      transition: all ease-in-out 0.5s;
      z-index: 5;
    }

    &:after {
      left: 50%;
    }

    &:hover {
      background: #111;
      color: white;

      &:before {
        left: -50%;
        opacity: 0;
      }

      &:after {
        left: 100%;
        opacity: 0;
      }
    }
  }
}
