.candidate {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(((var(--cell-size) - 3px) / 3) - 2px);
  height: calc(((var(--cell-size) - 3px) / 3) - 2px);
  font-size: 4px;
  transition: background 0.25s ease-in, transform 0.25s ease-in;

  color: rgba(255, 255, 255, 0.4);
  margin: 0.5px;

  @media only screen and (min-width: 640px) {
    width: calc(((var(--cell-size) - 12px) / 3) - 2px);
    height: calc(((var(--cell-size) - 12px) / 3) - 2px);
    font-size: 12px;
    margin: 1px;
  }
}

.notRejected {
  background: rgba(0, 0, 0, 0.15);
}

.hoverable {
  &:hover {
    cursor: pointer;
    background: #333;
    color: white;
  }
}

.solveable {
  background: #333;
  color: #4fef15;
}
