.candidate {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(((var(--cell-size) - 8px) / 3) - 4px);
  height: calc(((var(--cell-size) - 8px) / 3) - 4px);
  font-size: 12px;

  color: rgba(yellow, 0.25);
  margin: 1px;
}

.notRejected {
  background: rgba(255, 255, 255, 0.05);
}

.hoverable {
  &:hover {
    cursor: pointer;
    background: orange;
    color: white;
  }
}

.solveable {
  background: #666;
  color: white;
  // border: rgba(255, 255, 255, 0.75) 3px solid;
}
