.wrapper {
  padding: 20px;
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  button {
    border-radius: 5px;
    width: 150px;
    height: 40px;
    border: none;
    background: rgba(0, 0, 0, 0.3);
    color: #666;
    text-transform: uppercase;
    font-size: 14px;
    transition: all 0.3s ease-in-out;
    margin: 10px;

    &:hover {
      background: rgba(0, 0, 0, 0.6);
      color: white;
      font-size: 18px;
      cursor: pointer;
    }
  }

  h1 {
    margin-bottom: 5px;
  }
  p {
    font-size: 14px;
    color: #666;
  }
}

.center {
  display: flex;
  flex-direction: column;
  flex: 1;
}
