.dokku {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.row {
  display: flex;
}

.block {
  display: flex;
  margin: 0 calc(var(--pixel-size) / 2);
}

.off,
.on {
  height: var(--pixel-size);
  width: var(--pixel-size);
  display: flex;
  margin: calc(var(--pixel-size) / 10);
  border-radius: calc(var(--pixel-size) / 5);
  background: var(--theme-06);
}

.vGutter {
  margin-bottom: calc(var(--pixel-size) / 3);
}

.hGutter {
  margin-right: calc(var(--pixel-size) / 3);
}

.on {
  animation: 3s dpulse infinite forwards;
}

@keyframes dpulse {
  20% {
    background: var(--cell-block);
  }
  30% {
    background: var(--cell-single);
  }
  40% {
    background: var(--cell-row);
  }
  50% {
    background: var(--cell-all);
  }
  90% {
    background: var(--cell-column);
  }
}
