.dokku {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.row {
  display: flex;
}

.block {
  display: flex;
  margin: 0 calc(var(--pixel-size) / 2);
}

.off,
.on {
  height: var(--pixel-size);
  width: var(--pixel-size);
  background: black;
  display: flex;
  margin: calc(var(--pixel-size) / 10);
  border-radius: calc(var(--pixel-size) / 5);
}

.vGutter {
  margin-bottom: calc(var(--pixel-size) / 5);
}

.hGutter {
  margin-right: calc(var(--pixel-size) / 5);
}

.on {
  // animation: 3s dpulse infinite forwards;
}

@keyframes dpulse {
  20% {
    background: rgb(64, 20, 11);
  }
  40% {
    background: rgb(22, 22, 18);
  }
  90% {
    background: rgb(96, 90, 31);
  }
}
