.footer {
  padding: 10px 50px;
  text-align: center;
  background: rgba(0, 0, 0, 0.1);
  color: #333;

  @media only screen and (min-width: 640px) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  div {
    text-align: center;
  }

  .levels {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 15px 0;
  }
}

.item {
  display: block;
  color: #333;
  text-decoration: none;
  // padding: 5px 20px;
  // margin: 0 20px;
  padding: 0 20px;
  margin: 0;
  border-radius: 5px;
  transition: all ease-in-out 0.4s;
  &:hover {
    background: rgba(0, 0, 0, 0.3);
    color: #ccc;
  }
}

.title {
  text-decoration: none;
  color: #9b9b01;
  transition: all ease-in-out 0.4s;
  &:hover {
    color: yellow;
  }
}
