.bottom {
  position: absolute;
  bottom: -10px;
  left: 10px;
  display: flex;
  // display: none;
}

.top {
  position: absolute;
  top: -40px;
  left: 10px;
  display: flex;
  width: 100%;
  padding-right: 20px;
  justify-content: center;
}

.setting {
  background: #000;
  color: #666;
  padding: 4px 10px;
  font-size: 11px;
  border-radius: 8px;
  // margin-right: 5px;
}

.value {
  color: yellow;
  padding-right: 5px;
}

.solvers {
  display: flex;
}
