.header {
  position: relative;
  height: 50px;
  z-index: 1000;

  .row {
    position: absolute;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
  }

  .title {
    color: #666;
    padding: 0 20px;
    text-decoration: none;
    transition: color ease-in-out 0.3s;
    &:hover {
      color: #333;
    }
  }

  .menuItems {
    z-index: 5;
    position: absolute;
    padding-top: 50px;
    transition: margin-top ease-in-out 0.5s;
    margin-top: -350px;
    width: 100%;
  }

  .menuButton {
    display: flex;
    width: 60px;
    height: 50px;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    transition: all ease-in-out 0.3s;

    &:hover {
      cursor: pointer;
    }
  }

  .item {
    width: 100%;
    height: 50px;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    border: none;
    outline: none;
    transition: all ease-in-out 0.3s;
    &:hover {
      cursor: pointer;
    }
  }

  &.open {
    .menuButton {
      background: #333;
    }

    .menuItems {
      margin-top: 0;
    }
  }

  &.dark {
    .row {
      background: var(--theme-02);
      border-bottom: 1px solid var(--theme-01);
    }

    .menuButton {
      background: var(--theme-03);
      color: var(--theme-05);

      &:hover {
        background: var(--theme-04);
      }
    }

    .item {
      background: var(--theme-01);
      color: var(--theme-03);
      border-bottom: 1px solid var(--theme-03);

      &:hover {
        background: var(--theme-02);
        color: var(--theme-05);
      }
    }
  }

  &.light {
    .row {
      background: var(--theme-08);
      border-bottom: 1px solid var(--theme-09);
    }

    .menuButton {
      background: var(--theme-07);
      color: var(--theme-05);

      &:hover {
        background: var(--theme-06);
      }
    }

    .item {
      background: var(--theme-09);
      color: var(--theme-07);
      border-bottom: 1px solid var(--theme-07);

      &:hover {
        background: var(--theme-08);
        color: var(--theme-05);
      }
    }
  }
}
