.levels {
  div {
    padding: 0;
    margin-bottom: calc(var(--grid-unit) * 2);
  }

  a {
    color: var(--accent3-on);
    display: flex;
    padding: calc(var(--grid-unit) * 3) calc(var(--grid-unit) * 12);
    text-decoration: none;
    border-radius: 10px;
    justify-content: center;
    font-size: calc(var(--grid-unit) * 3.5);
    text-transform: uppercase;
    // box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;

    &.create {
      color: var(--accent2-on);
    }

    div {
      position: absolute;
      font-size: 50px;
      line-height: 50px;
      left: 0;
      top: 50%;
      margin-top: -25px;
      width: 100%;
      text-align: center;
      color: transparent;
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      white-space: nowrap;
    }

    span {
      z-index: 10;
    }

    &:before,
    &:after {
      content: ' ';
      background: linear-gradient(0deg, var(--theme-07), var(--theme-08));
      width: 50%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      transition: all ease-in-out 0.5s;
      z-index: 5;
    }

    &:after {
      left: 50%;
    }

    &:hover {
      background: var(--theme-09);
      color: var(--theme-04);

      &:before {
        left: -50%;
        opacity: 0;
      }

      &:after {
        left: 100%;
        opacity: 0;
      }
    }
  }
}
