.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  width: 100%;
  position: relative;

  &.dark {
    background: var(--theme-02);
    color: var(--theme-06);
  }

  &.light {
    background: var(theme-08);
    color: var(--theme-04);
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.footer,
.header {
  width: 100%;
}

.header {
  top: 0;
  position: absolute;
}

.footer {
  position: absolute;
  bottom: 0;
}
