.wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  @media only screen and (min-width: 640px) {
    br {
      display: none;
    }
  }

  p {
    color: var(--theme-03);
    background: var(--theme-08);
    padding: 10px 25px;
    border-radius: 9999px;
    text-align: center;
    margin-top: 0;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 10px;

    @media only screen and (min-width: 640px) {
      font-size: 16px;
    }
  }

  em {
    background: var(--cell-all);
    color: white;
    font-style: normal;
    padding: 2px 10px;
    border-radius: 100px;

    &.any {
      background: var(--cell-all);
    }

    &.block {
      background: var(--cell-block);
    }

    &.column {
      background: var(--cell-column);
    }

    &.row {
      background: var(--cell-row);
    }

    &.single {
      background: var(--cell-single);
    }
  }
}
