.wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  position: absolute;
  top: -60px;
  @media only screen and (min-width: 640px) {
    top: -50px;
    br {
      display: none;
    }
  }

  p {
    color: #666;
    background: #00000030;
    padding: 10px 25px;
    border-radius: 10px;
    text-align: center;
    margin-top: 0;
  }

  em {
    color: rgb(19, 184, 19);
    font-style: normal;

    &.any {
      color: var(--cell-all);
    }

    &.block {
      color: var(--cell-block);
    }

    &.column {
      color: var(--cell-column);
    }

    &.row {
      color: var(--cell-row);
    }

    &.single {
      color: var(--cell-single);
    }
  }
}
