.wrapper {
  display: flex;
  width: 95%;
  margin: 0 auto;
  justify-content: center;
  @media only screen and (min-width: 640px) {
    br {
      display: none;
    }
  }

  .para {
    display: flex;
    flex-direction: column;
    color: var(--theme-03);
    // background: var(--theme-08);
    padding: 5px 25px;
    border-radius: 9999px;
    text-align: center;
    margin-top: 0;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 10px;
    line-height: 1.6;
    @media only screen and (min-width: 640px) {
      font-size: 12px;
      flex-direction: row;
    }
  }
  span {
    display: flex;
    margin: 3px;
    justify-content: center;
    align-items: center;
    @media only screen and (min-width: 640px) {
      margin: 0;
    }
  }

  em {
    background: var(--theme-07);
    margin: 0 5px;
    color: white;
    font-style: normal;
    padding: 1px 15px;
    border-radius: 100px;
    font-size: 14px;
    white-space: nowrap;

    @media only screen and (min-width: 640px) {
      font-size: 15px;
    }

    &.solve {
      background: #333;
      color: var(--cell-all);
      border-radius: 0;
    }

    &.any {
      background: var(--cell-all);
    }

    &.block {
      background: var(--cell-block);
    }

    &.column {
      background: var(--cell-column);
    }

    &.row {
      background: var(--cell-row);
    }

    &.single {
      background: var(--cell-single);
    }
  }
}
