.wrapper {
  background: #333;
  color: #999;
  display: flex;
  align-items: center;
  border-radius: 10px;

  margin-left: 2px;
  margin-right: 2px;

  flex-direction: column;
  justify-content: center;
  border-radius: 5px;

  transition: all 0.2s ease-in-out;

  @media only screen and (min-width: 640px) {
    height: 30px;
    border-radius: 15px;
    // padding-right: 40px;
    width: 130px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &.hoverable:hover {
    background: #555;
    cursor: pointer;
  }

  &.active {
    color: white;

    &.any,
    &.block,
    &.column,
    &.row,
    &.single {
      .roundel {
        background: #3b3b3b;
        color: #ccc;
        transition: all 0.2s ease-in-out;
        &:hover {
          background: #5b5b5b;
          color: rgba(0, 0, 0, 0.6);
        }
      }
    }

    &.any {
      background: var(--cell-all);
    }

    &.block {
      background: var(--cell-block);
    }

    &.column {
      background: var(--cell-column);
    }

    &.row {
      background: var(--cell-row);
    }

    &.single {
      background: var(--cell-single);
    }
  }

  &.disabled {
    opacity: 0.2;
  }

  .roundel {
    color: white;

    width: 50px;
    height: 20px;
    border-radius: 5px;
    margin-top: -5px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 16px;
    line-height: 18px;
    order: 1;

    @media only screen and (min-width: 640px) {
      border-radius: 15px;
      width: 30px;
      right: 10px;
      position: absolute;
      right: 5px;
      top: -10px;
      order: inherit;
      margin-top: 0;
    }
  }

  &.any .roundel {
    background: var(--cell-all);
  }

  &.block .roundel {
    background: var(--cell-block);
  }

  &.column .roundel {
    background: var(--cell-column);
  }

  &.row .roundel {
    background: var(--cell-row);
  }

  &.single .roundel {
    background: var(--cell-single);
  }
}

.label {
  text-transform: uppercase;
  font-weight: bold;

  font-size: 10px;
  line-height: 15px;

  min-width: 70px;
  white-space: nowrap;

  padding: 8px 3px;
  order: 2;
  text-align: center;

  @media only screen and (min-width: 640px) {
    min-width: 70px;
    font-size: 12px;
    padding: 3px 10px;
    text-align: left;
    order: inherit;
  }
}

.roundelHolder {
  position: relative;
}
