.wrapper {
  background: #333;
  color: #999;
  display: flex;
  align-items: center;
  border-radius: 10px;
  height: 30px;
  border-radius: 15px;
  margin-left: 5px;
  margin-right: 5px;
  padding-right: 40px;
  width: 130px;
  justify-content: space-between;

  transition: all 0.2s ease-in-out;

  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &.hoverable:hover {
    background: #555;
    cursor: pointer;
  }

  &.active {
    color: white;

    &.all,
    &.block,
    &.column,
    &.row,
    &.single {
      .roundel {
        background: rgba(255, 255, 255, 0.3);
        color: rgba(0, 0, 0, 0.4);
        transition: all 0.2s ease-in-out;
        &:hover {
          background: rgba(255, 255, 255, 0.6);
          color: rgba(0, 0, 0, 0.6);
        }
      }
    }

    &.all {
      background: var(--cell-all);
    }

    &.block {
      background: var(--cell-block);
    }

    &.column {
      background: var(--cell-column);
    }

    &.row {
      background: var(--cell-row);
    }

    &.single {
      background: var(--cell-single);
    }
  }

  &.disabled .roundel {
    opacity: 0.2;
  }

  .roundel {
    color: white;
    width: 30px;
    height: 20px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 5px;
    top: -10px;
    font-size: 16px;
  }

  &.all .roundel {
    background: var(--cell-all);
  }

  &.block .roundel {
    background: var(--cell-block);
  }

  &.column .roundel {
    background: var(--cell-column);
  }

  &.row .roundel {
    background: var(--cell-row);
  }

  &.single .roundel {
    background: var(--cell-single);
  }
}

.label {
  text-transform: uppercase;
  font-weight: bold;
  padding-left: 15px;
  padding-right: 10px;
  font-size: 12px;
  min-width: 70px;
  white-space: nowrap;
}

.roundelHolder {
  position: relative;
}
