.valueSolver {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: 90px;
  padding: 10px;
}

.item {
  margin-right: 5px;
  background-image: repeating-linear-gradient(
    0deg,
    #1a1a1a,
    #1a1a1a 5px,
    #222 5px,
    #222 10px
  );
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.value {
  background: #333;
  color: #999;
  padding: 0px 12px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;

  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: background 0.25s ease-in;

  &.active {
    background: #115a12;

    color: rgb(180, 227, 180);
    &:hover {
      cursor: pointer;
    }
  }
}

.bar {
  background: orange;
  transition: height 0.25s ease-in;

  background-image: repeating-linear-gradient(
    0deg,
    #327d4d,
    #327d4d 5px,
    #115a12 5px,
    #115a12 10px
  );
}
