.selector {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex: 1;
}

.row {
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
}

.value {
  flex: 1;
  background: #333;
  margin: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &.available {
    background-color: var(--cell-active-bg);
    color: var(--cell-active-fg);
    &:hover {
      cursor: pointer;
    }
  }

  &.taken {
    background-color: var(--cell-connected-bg);
    color: var(--cell-connected-fg);
  }
}
